{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <h1>Airplanes list</h1>
    <br>
    <div class="margin">
    <table width="100%"  >
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Production year</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Max Passanger</th>
                <th>Max carrying capacity in tons</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for airplane in airplanes %}
            <tr>

                <td>{{ airplane.id }}</td>
                <td>{{ airplane.name }}</td>
                <td>{% if airplane.production %}{{ airplane.production }}{% endif %}</td>
                <td>{{ airplane.manufacturer }}</td>
                <td>{{ airplane.model }}</td>
                <td>{{ airplane.maxPassanger }}</td>
                <td>{{ airplane.maxCarrCapacityInTons }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('airplane_delete', { 'id': airplane.id }) }}" onclick="return confirm('Are u sure? Deleting airplane you also delete this airplane history')">delete</a>
                        </li>
                        <li>
                            <a href="{{ path('airplane_edit', { 'id': airplane.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('airplane_new') }}">Create a new airplane</a>
        </li>
    </ul>
    </div>
{% endblock %}
