<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Address Book{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="Address Book">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#<link rel="stylesheet" href="{{ asset('css/main-styles.css') }}">#}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('airplane_index') }}">All Airplanes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('airplanehistory_index') }}">Airplanes History</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main">
    <div class="container" style="margin-top: 50px">
        {% block content %}{% endblock %}
    </div><!-- /container -->
</main>
{% block extraJs %}{% endblock %}
</body>
</html>